.about {
  // padding: 60px 50px;
  // h2 {
  //   text-align: center;
  //   margin-bottom: 5px;
  // }
  .subsections {
    display: flex;
    flex-direction: column;
  }

  p {
    color: $fc-lvl4;
    margin-bottom: 30px;
    line-height: 30px;
  }
  ul li {
    margin-bottom: 20px;
    font-size: $fs-default;
    text-transform: capitalize;
  }

  img {
    display: block;
    margin: 0 auto 30px auto;
    width: 100%;
  }
}

p.accent-p {
  color: $accent-color5;
  font-size: $fs-medium;
  margin-bottom: 30px;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
  .about .subsections {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .subsection {
    flex: 0 0 49%;
  }
  .subsection:nth-of-type(3) {
    flex: 0 0 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .about .subsections {
    justify-content: center;
    display: inline-flexbox;
    gap: 50px;
  } 
  .subsection {
    max-width: 320px;
    flex-basis: auto;
  }
  // .subsection:nth-of-type(3) {
  //   flex: 0 0 49%;
  // }

}
// https://stackoverflow.com/questions/34331102/how-to-display-wrapping-flex-items-as-space-between-with-last-row-aligned-left
// https://coryrylan.com/blog/css-gap-space-with-flexbox