@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: RobotoBlackItalic;
  src: url("../fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: RobotoBoldItalic;
  src: url("../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: RobotoBoldItalic;
  src: url("../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: RobotoItalic;
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: RobotoLightItalict;
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: RobotoMediumItalict;
  src: url("../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoThin;
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: RobotoThinItalic;
  src: url("../fonts/Roboto-ThinItalic.ttf");
}

// Font Awesome
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome-webfont.ttf");
  src: url("../fonts/fontawesome-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2")
      format("woff2"),
    url("../fonts/fontawesome-webfont.woff")
      format("woff"),
    url("../fonts/fontawesome-webfont.ttf")
      format("truetype"),
    // url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
    //   format("svg");
}

@font-face {
  font-family: "Glyphicons Halflings";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot")
      format("embedded-opentype"),
    url("../fonts/glyphicons-halflings-regular.woff2")
      format("woff2"),
    url("../fonts/glyphicons-halflings-regular.woff")
      format("woff"),
    url("../fonts/fontawesome-webfont.ttf")
      format("truetype"),
    // url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
    //   format("svg");
}


